.audio-items {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
  }
  
  .audio-items:hover {
    background-color: rgba(143, 26, 202, 0.326);
    border-radius: 25px;
  }
  
  .desc-item {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    width: 80%;
  }
  